.hide{
    display: none;
}


.bg-lightdark{
    background-color: #071a3b;
}
.h-5vh{
    height: 5vh;
}
.bg-red{
  
   
    color: red;
}
.f-box{
    display: flex;
    justify-content: space-between;
}